#Box1{
    border: solid 1px black;
    height: 180px;
    background-color: rgb(235, 96, 10);
}
#Box2{
    border: solid 1px black;
    height: 180px ;
    background-color: whi;
}
#Box3{
    border: solid 1px black;
    height: 180px ;
    background-color: rgb(2, 87, 2);
    }